---
layout: home
main-title: "P. Roberto Bakker"
subtitle: ""
description: "Paintings and more"
images:
 - image_path: /img/Karl1-5_Real.jpg
   gallery-folder: /img/slider/
 - image_path: /img/SocksTowelTeatowelScarf.jpg
   gallery-folder: /img/slider/
 - image_path: /img/DriedRoseOmberBlack.jpg
   gallery-folder: /img/slider/
---


<html class="no-js" lang="en">
<head>
	<meta content="charset=utf-8">

<!-- CSS -->
     <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" rel="stylesheet" type="text/css">
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
     <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" type="text/css" media="screen" />
      <link rel="stylesheet" href="{{ site.baseurl }}/css/galleries.css" media="screen" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/WYSIWYG.css" media="screen" />



	<!-- Modernizr -->
  <script src="{{ site.baseurl }}/js/modernizr.js"></script>



  

</head>

<body class="fullscreen">

<!-- MAIN CONTENT SECTION  _____________________________________________-->
	<section id="content" role="main">
		<div class="wrapper">

			<!-- WYSIWYG -->

		<div class="position-absolute">
				<h2 class="big no-margin"><strong>{{ page.main-title }}</strong></h2>
				<h2>{{ page.subtitle }}</h2> 
                     <div class="entry-summary">
							<p>{{ page.description }}</p>
						</div><br />
			</div>
			
			<div class="gallery fullscreen-gallery kenburns-gallery">

				<canvas id="kenburns"></canvas>
				
{% for image in page.images %}  	

				<figure class="gallery-item">
					<header class='gallery-icon'>

<a href="{{ site.url }}{{ site.baseurl }}{{ image.gallery-folder }}">
<img src="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}"></a>
	
				</header>	
				</figure>

{% endfor %}

				</div>
			<!-- END WYSIWYG -->
			
	
		</div><!-- END .wrapper -->
		
	</section>

<div id="footer" role="contentinfo">
		<ul class="soc-icons">

                 
{% if site.facebook_username %}
			<li>
   <a href="https://facebook.com/{{ site.facebook_username }}" style="
color:#dff0d8; target="_blank" title="Facebook">
                       <i class="fa fa-facebook"></i>
                     </span>
</a></li>
    {% endif %}
 {% if site.twitter_username %}
			<li>
   <a href="https://twitter.com/{{ site.twitter_username }}" style="
color:#dff0d8; target="_blank" title="Twitter">
                       <i class="fa fa-twitter"></i>
                     </span>
</a></li>
    {% endif %}
{% if site.instagram_username %}
			<li>
   <a href="https://instagram.com/{{ site.instagram_username }}" style="
color:#dff0d8; target="_blank" title="Instagram">
                       <i class="fa fa-instagram"></i>
                     </span>
</a></li>
    {% endif %}
                    {% if site.flickr_username %}
			<li>
   <a href="https://flickr.com/photos/{{ site.flickr_username }}" style="
color:#dff0d8; target="_blank" title="Flickr">
              <i class="fa fa-flickr"></i>
                     </span>
 </a></li>	
     {% endif %}
<!-- {% if site.mastodon_username %}
			<li>
   <a rel="me" href="https://mastodon.art/@proberto{{ site.mastodon_username }}" style="
color:#dff0d8; target="_blank">
         <img alt="mastodon" src="img/mastodon.svg">
                     </span>              
</a></li>
      {% endif %} -->
{% if site.mastodon_username %}
			<li>
   <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-mastodon" viewBox="0 0 16 16">
    <a rel="me" href="https://mastodon.art/@proberto{{ site.mastodon_username }}" style="
color:#dff0d8; target="_blank" title="Mastodon">
	<path d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z"/>
                     </span>              
</a></svg></li>
      {% endif %}
 {% if site.github_username %}
                	<li>
   <a href="https://github.com/{{ site.github_username }}" style="
color:#dff0d8; target="_blank" title="Github">
              <i class="fa fa-github"></i>
                     </span>
                   {% endif %}
<li>
    <a href="mailto:{{ site.email }}" style="
color:#dff0d8; target="_blank" title="Email">
              <i class="fa fa-envelope-o"></i></span>
          </a> </li>
	
					
		</ul>	
	</div>

  
<!-- jQuery -->
  <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script src="{{ site.baseurl }}/js/retina.min.js"></script> 

<!-- include mousewheel plugins -->
<script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
<!-- include gallery cycle plugin -->
<script src="{{ site.baseurl }}/js/jquery.cycle.min.js"></script>
<!-- include kenburns plugins -->
<script src="{{ site.baseurl }}/js/kenburns.min.js"></script>
<!-- include svg line drawing plugin -->
<script src="{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
<!-- include custom script -->
<script src="{{ site.baseurl }}/js/scripts.js"></script>


       </body>
    </html>

